@font-face {
  font-family: "SB Sans Interface";
  src: url("../fonts/SBSansInterface-Regular.woff2") format("woff2"),
    url("..fonts/SBSansInterface-Semibold.woff2") format("woff2");
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "SB Sans Interface";
}

body {
  background-color: #f2f2f2;
  box-sizing: border-box;
}
